body{
    background: url('bp.jpg') fixed;
        background-size: cover;
}
.main-menu {
    padding: 10px;
    opacity: 0.4;
}
.main-menu li {
    background: gainsboro;
    padding: 10px;
    cursor: pointer;
    list-style:none;
}
.main-menu:hover {
    opacity: 0.5;
}
.klaseczka {
    background: gainsboro;
    opacity: 0.6;
    color: purple;
    curosr: pointer;
}
.klaseczka:hover {
    opacity: 0.5;
}
#bgchanger {
    position: absolute;
    top : 10px;
    right : 10px;
}