body{
    background: url('bp.jpg') fixed;
        background-size: cover;
}
.main-menu {
    padding: 10px;
    width: 70vw;
    margin: 0 auto 0 auto;
    opacity: 0.4;
}
.main-menu li {
    background: cyan;
    padding: 10px;
    width: 70vw;
    margin: 0 auto 0 auto;
    cursor: pointer;
    list-style:none;
}
.main-menu:hover {
    opacity: 0.5;
}
.klaseczka {
    background: cyan;
    width: 40vw;
    margin-left: 50px;
    position: absolute;
    left: 228px;
    top: 130px;
    opacity: 0.4;
    color: purple;
    padding: 4px;
    curosr: pointer;
}
.klaseczka:hover {
    opacity: 0.5;
}

